# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
backend/venv/
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/.pytest_cache/
backend/alembic.ini.bak

# SQLite Database
*.sqlite3
*.db
backend/sql_app.db

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# OS Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

